
########### WAISCH ###########

RewriteCond %{HTTP_HOST} ^waisch\.vrends\.com?(.*) [NC]
RewriteRule ^images/(.*) /clients/waisch/images/$1 [L]
RewriteRule ^config.js /clients/waisch/config.js [L]
RewriteRule ^interface_config.js /clients/waisch/interface_config.js [L]
